/*普通のボタン*/
div.title_bar button {
  margin-top : -40px;
  position: relative;
  text-align : center; 	
  display: block;
  background    : #cccccc;
  color         : #00007f;
  line-height   : 1em;
  width : 20%;
  height : 40px;
}
div.message_with_right_button button{
  text-align : center; 	
  background    : #cccccc;
  color         : #00007f;
  line-height   : 1em;
  width : 100%;
  height : 40px;
	
}

/*メインボタン*/
div.main_button button {
  margin-top: 8px;
  text-align : center; 
  font-size: large;
  width : 100%;
  height : 40px;
  background    : #cccccc;
  color         : #00007f;
  line-height   : 1em;

}

/*テキストボックス*/
input[type="text"] {
	width: 100px;
	height: 30px;
	border-radius: 7px;
}